@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.dm-add-data-wrapper {
  font-family: "Poppins", sans-serif;
  background-color: #212121;
  height: 100%;
  color: #c6c9d8;
}

.dm-card {
  padding: 30px;
  border-radius: 15px;
  background-color: #101010;
  color: white;
}

form .dm-form-control-dark-bg {
  width: 100%;
  border: hidden;
  margin: 0 auto;
  color: #c6c9d8;
  background-color: #191919;
}

form .dm-form-control-dark-bg:focus {
  color: #c6c9d8;
  background-color: #191919;
  border-color: #ee076e;
  box-shadow: 0 0 2px 2px #ee076e;
}

form .dm-form-control-text-muted {
  color: #6c757d !important;
  margin-bottom: 0px;
}

form .dm-form-control-text-area {
  resize: none;
}

form .dm-form-btn {
  background-color: #191919;
  color: white;
  padding: 5px 20px;
  border: 0px;
  border-radius: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

form .dm-login-btn:hover {
  background-color: #101010;
}

form .dm-upload-file-btn {
  background-color: #191919;
  color: white;
  width: 100%;
}

form .dm-upload-file-btn input {
  display: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
