@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");

.mode-white {
  color: white;
}

.mode-dark {
  color: darkslategray;
}

.dm-coming-soon-message-container {
  font-family: "Merriweather", serif;
  padding-top: 90px;
}
